{% extends "base/base.html" %}

{% block main %}
<section class="row">
    <article class="col-sm-3">
        <form action="/leave" method="POST">
            <input type="hidden" id="room" value="{{ room }}">
            <button type="submit" class="btn btn-danger">Leave Room</button>
        </form>

        <table class="table table-sm">
            {% for room in rooms %}
            <tr>
                <td><a href="{{ url_for('chat_room', room=room) }}"> {{ room }} </a></td>
            </tr>
            {% endfor %}
        </table>
    </article>
    <article class="col-sm-9">
        <h1>{{ room }}</h1>

        <hr>
        <div class="alert alert-primary" id="events"> &nbsp;</div>
        <div class="alert alert-info chat"></div>
    </article>
</section>
<form class="fixed-bottom chat_box text-center">
    <div class="row">
        <div class="col-sm-6">
            <input type="text" class="form-control" name="message" id="message" autofocus
                placeholder="Type your message">
        </div>
        <div class="col-sm-3 align-center">
            <button type="button" class="btn btn-info btn-block" id="send_message">Send</button>
        </div>
    </div>

</form>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}