{% extends "base/base.html" %}
{% block main %}
<section class="row">
    <div class="col-sm-6">
        <form class = "form" method="POST" action="{{ url_for('join_user') }}">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" name="username" id="username" required autofocus>
            </div>
            <button type="submit" class="btn btn-outline-success">Join</button>
        </form>
    </div>
</section>
{% endblock %}